*.class

# Package Files #
*.jar
*.war
*.ear
engine/.idea
engine/WebContent
*.iml
*/target/

*/.classpath
*/.project
*/.settings
aries
engine
capricornus
gemini
leo
libra
sagittarius
scorpio
virgo
aquarius